{% extends "base.html" %} {% block title %} Start Your Event {% endblock %}

{% block content %} 
<form method="POST">
    <h3 align="center">Make your event</h3>
    <div class="form-group">
      <label for="sport">Sport</label>
      <input
        type="text"
        class="form-control"
        id="sport"
        name="sport"
        placeholder="Enter sport"
      />
    </div>
    <div class="form-group">
      <label for="description">Maximum Participants</label>
      <input
        type="number"
        class="form-control"
        id="max_participants"
        name="max_participants"
        value="10"

      />
    </div>

    <div class="form-group">
      <label for="time">Date and time</label>
      <input
        type="datetime-local"
        class="form-control"
        id="date"
        name="date"
        placeholder="Enter date and time"
      />
    </div>
    <div class="form-group">
        <label for="time">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="location"
          placeholder="Enter location"
        />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        placeholder="Briefly describe your post!(optional)"
      />
    </div>



    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}