{% extends "base.html" %} {% block title %} On-going Events {% endblock %}

{% block content %}
<script src='/static/index.js'></script>
<script src='/static/qrcodejs.js'></script>

<h1 align="center">Posts</h1>
<ul class="list-group list-group-flush" id="posts">
  {% for post in all_post %}
  <li class="list-group-item">
    Sport: {{ post.sport }} <br>
    Date and time: {{ post.date}} <br>
    Location: {{ post.location}} <br>
    Description: {{ post.description}} <br>
    Number of people: {{ post.participant_number }}
    
    {% if not user.is_authenticated %}
    <div align="center">
      <button type="submit" class="btn btn-primary" onclick = 'showQrcode2({{post.id}})'>Share</button>
    </div>
    {% endif %}

    {% if user.id != post.creater_id and user.is_authenticated %}
    <form method="POST">
      <div align="right">
        <input type="hidden" id="user_id" name="user_id" value={{ user.id }} >
        <input type="hidden" id="post_id" name="post_id" value={{ post.id }} >
        {% if post.id not in joined %}
        <button type="submit" class="btn btn-primary"> Join </button>
        {% else %}
        <button type="submit" class="btn btn-secondary" disabled> Join </button>
        {% endif %}
        <button type="button" class="btn btn-primary" onclick = 'showQrcode2({{post.id}})'>Share</button>
      </div>
    </form>
    {% endif %}
    {% if user.id == post.creater_id and user.is_authenticated %}
    <div align="right">
      <div>
          <a type="submit" href="/post/{{post.id}}" style="
          padding: 5px 20px;
          text-decoration:none;
          font-weight:bold;
          border-radius:5px;
          cursor:pointer;">Edit</a>
          <button type="button" class="btn btn-primary" onclick = 'showQrcode2({{post.id}})'>Share</button>
          <button type="button" class="btn btn-primary" onclick="deletePost({{ post.id }})">Delete</button>  
      </div>
    </div>
    {% endif %}
  </li>
  {% endfor %}
</ul>

<div id="qrcode" style="display:none; align: middle"><br>
  <br>
</div>
{% endblock %}
