{% extends "base.html" %} {% block title %} On-going Events {% endblock %}

{% block content %}
<script src='/static/index.js'></script>
<script src='/static/qrcodejs.js'></script>
<script src='/static/index.css'></script>

<h1 style="color: #372647; margin-top: 20px;">Posts</h1>
<ul class="list-group list-group-flush" id="posts">
  {% for post in all_post %}
  <li class="list-group-item">
    Sport: {{ post.sport }} <br>
    Date and time: {{ post.date}} <br>
    Location: {{ post.location}} <br>
    Description: {{ post.description}} <br>
    Number of people: {{ post.participant_number }}
    {% if not user.is_authenticated%}
    
    <div>
      <button type="submit" style="background-color: #372647; color: #F7CAC9; width: 100px; height: 30px;">Share</button>
    </div>

    {% endif %}
    {% if user.id != post.creater_id and user.is_authenticated %}
    <form method="POST">
      <div>
        <input type="hidden" id="user_id" name="user_id" value={{ user.id }} >
        <input type="hidden" id="post_id" name="post_id" value={{ post.id }} >
        <button type="submit"  style="background-color: #372647; color: #F7CAC9; width: 100px; height: 30px;">Join</button>
        <button type="button"  onclick = 'showQrcode2({{post.id}})' style="color: #372647;">Share</button>
        <div id="qrcode" style="display:none;">
          <br>
          <br>
        </div>
      </div>
    </form>
    {% endif %}
    {% if user.id == post.creater_id and user.is_authenticated %}
    <div>
      <div>
          <a id = "submit_b" type="submit" href="/post/{{post.id}}">Edit</a>
          <button type="button" onclick = 'showQrcode2({{post.id}})' style="background-color: #372647; color: #F7CAC9; width: 100px; height: 30px;">Share</button>  
      </div>
    </div>
    {% endif %}
  </li>
  {% endfor %}
</ul>

<div id="qrcode" style="display:none; align: middle"><br>
  <br>
</div>

{% endblock %}